[submodule "hw/Flute"]
	path = hw/Flute
	url = https://github.com/Bluespec/Flute
[submodule "hw/FluteEnclavesTagging"]
	path = hw/FluteEnclavesTagging
	url = https://github.com/acceleratedtech/FluteEnclavesTagging
[submodule "hw/Flute_CHERI"]
	path = hw/Flute_CHERI
	url = https://github.com/CTSRD-CHERI/Flute
[submodule "hw/connectal"]
	path = hw/connectal
	url = https://github.com/cambridgehackers/connectal
[submodule "hw/fpgamake"]
	path = hw/fpgamake
	url = https://github.com/cambridgehackers/fpgamake
[submodule "src/RISCV_gdbstub"]
	path = src/RISCV_gdbstub
	url = https://github.com/bluespec/RISCV_gdbstub
